.additional {
  --line-color: #68b738;
}

.additional__title {
  display: flex;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
  margin: 0;
}


@media (max-width: 321px) {
  .additional {
    border-top: 1px solid #ebebeb;
  }
}

@media (min-width: 769px) {
  .additional {
    display: grid;
    grid-template-columns: 1fr 245px;
    align-items: center;
  }

  .additional__title {
    grid-column: 1/-1;
  }

  .additional__title::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--line-color);
    margin-left: 35px;
  }

  .additional__title::before {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background-color: var(--line-color);
    margin-right: 40px;
  }
}


@media (min-width: 321px) and (max-width: 769px) {
  .additional__title {
    position: relative;
    margin-left: 0;
    padding-left: 67px;
  }

  .additional__title::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--line-color);
    margin-left: 36px;
  }

  .additional__title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--line-color);
    margin-right: 37px;
  }
}
