.additional {
  --line-color: #68b738;
  padding-bottom: 35px;

  @media (--narrow-vp) {
    padding-top: 24px;
  }

  @media (--middle-vp) {
    padding-bottom: 75px;
  }

  @media (--wide-vp) {
    padding-bottom: 86px;
  }
}

.additional__structure {
  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (--middle-vp) {
    gap: 69px;
    padding-top: 79px;
  }

  @media (--wide-vp) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 79px;
    align-items: center;
    padding-top: 77px;
  }
}

.additional__products-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
  padding: 0;

  @media (--wide-vp) {
    min-height: 288px;
  }
}

.additional__title {
  --additional-title-indent: 24px;
  position: relative;
  width: fit-content;
  margin: 0;
  padding: 0 var(--additional-title-indent);

  @media (--narrow-vp) {
    --additional-title-indent: 20px;
    padding-left: 0;
    margin-bottom: 34px;
  }

  @media (--middle-vp) {
    --additional-title-indent: 38px;
    border: none;
  }

  @media (--wide-vp) {
    --additional-title-indent: 41px;
    border: none;
    left: -41px;
  }
}

.additional__title-text {
  font-family: var(--accent-font);
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;

  @media (--middle-vp) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (--wide-vp) {
    font-size: 36px;
    line-height: 36px;
  }
}

.additional__title::before {
  content: "";
  position: absolute;
  top: calc(50% + 2px);
  display: block;
  height: 2px;
  background-color: var(--line-color);
  width: calc(100vw - 100% - var(--additional-title-indent));
  right: 100%;
  box-shadow: calc(100vw - var(--additional-title-indent)) 0 0 0 var(--line-color);

  @media (--narrow-vp) {
    background-color: transparent;
  }
}

.additional__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 14px;
  padding-top: 13px;
  padding-bottom: 18px;
  border-bottom: 1px solid var(--additionals-border-color);

  @media (--middle-vp) {
    grid-template-columns: 1fr 1fr auto;
    align-items: baseline;
    border-left: 1px solid var(--additionals-border-color);
    border-right: 1px solid var(--additionals-border-color);
    padding: 26px 38px 28px;
    row-gap: 20px;
    column-gap: 49px;
  }

  @media (--wide-vp) {
    grid-template-columns: 287px auto 1fr 1fr;
    gap: 38px;
    flex: 1 0 auto;
    padding-bottom: 15px;
    padding-right: 1px;
  }
}

.additional__item:first-child {
  box-shadow: 0 -1px 0 0 var(--additionals-border-color);
}

.additional__item:nth-child(2) .additional__item-price {
  @media (--wide-vp) {
    padding-right: 10px;
  }
}

.additional__item-name {
  grid-column: 1/-1;
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: start;
  color: #222222;
  margin: 0;

  @media (--not-narrow-vp) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (--middle-vp) {
    grid-column: 1/2;
  }

  @media (--wide-vp) {
    grid-column: 1/2;
  }
}

.additional__item-unit,
.additional__item-price {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 14px;
  color: var(--base-font-color);
  margin: 0;

  @media (--not-narrow-vp) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (--middle-vp) {
    text-align: right;
  }

  @media (--wide-vp) {
    position: relative;
    top: 3px;
  }
}

.additional__item-price {
  text-align: right;
}

.additional__item-order-button {
  grid-column: 1/-1;
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--button-text-color);
  text-decoration: none;
  text-align: center;
  padding: 10px;
  background-color: var(--button-color);
  outline: none;

  @media (--wide-vp) {
    grid-column: 4/5;
    margin: 0;
    min-width: 224px;
  }
}

.additional__item-order-button:hover {
  --button-color: #5eaa2f;
}

.additional__item-order-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.additional__item-order-button:focus-visible {
  box-shadow: inset 0 0 0 1px var(--focus-border-color);
}
