.background-promo {
  position: relative;
}

.background-promo::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 302px;
  width: 100%;
  background-image: url("../../img/promo-background-mini.png");
  background-size: cover;
  z-index: -1;

  @media (--middle-vp) {
    display: none;
  }

  @media (--wide-vp) {
    position: fixed;
    left: 50%;
    top: 0;
    background-image: url("../../img/promo-background-max.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 50%;
    width: 720px;
    height: 694px;
  }
}
