.catalog-title {
  padding: 27px 10px 35px;

  @media (--narrow-vp) {
    border-top: 1px solid var(--catalog-title-border-color);
  }

  @media (--middle-vp) {
    padding: 70px 30px 157px;
  }

  @media (--wide-vp) {
    padding: 74px 110px 157px;
  }
}

.catalog-title__text {
  font-family: var(--accent-font);
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  margin: 0;

  @media (--middle-vp) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  @media (--wide-vp) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}
