.catalog-title {
  padding: 27px 10px 40px;

  @media (--narrow-vp) {
    margin-left: -3px;
  }

  @media (--middle-vp) {
    padding: 62px 0 163px;
  }

  @media (--wide-vp) {
    padding: 74px 110px 165px;
  }
}

.catalog-title__text {
  font-family: var(--accent-font);
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  margin: 0;

  @media (--middle-vp) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  @media (--wide-vp) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}
