.contacts {
  position: relative;
}

.contacts__text {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 769px) {
  .contacts__text {
    position: absolute;
    max-width: 565px;
  }
}

.contacts__adress {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--base-font-color);
  margin: 0;

  @media (min-width: 321px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

.contacts__lead-text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding-right: 10px;

  @media (min-width: 321px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__map {
  min-height: 362px;

  @media (min-width: 321px) {
    min-height: 400px;
  }
}
