.contacts {
  position: relative;
  margin: 0;
  line-height: 0;

  @media (--wide-vp) {
    margin: 0 auto;
    padding: 0;
  }
}

.contacts__text {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 26px 0;

  @media (--middle-vp) {
    padding: 56px 50px;
  }

  @media (--wide-vp) {
    padding: 56px 80px;
    margin-top: 95px;
    margin-left: 110px;
    gap: 90px;
  }
}

@media (--wide-vp) {
  .contacts__text {
    position: absolute;
    max-width: 565px;
  }
}

.contacts__adress {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--base-font-color);
  margin: 0;

  @media (--not-narrow-vp) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

.contacts__lead-text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  padding-right: 10px;
  margin: 0;

  @media (--not-narrow-vp) {
    font-size: 20px;
    line-height: 26px;
    padding: 0;
  }
}

.contacts__map {
  height: 362px;
  width: 100%;
  border: none;

  @media (--not-narrow-vp) {
    height: 400px;
  }
}
