.description {
  position: relative;
  padding-top: 20px;

  @media (--narrow-vp) {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 2px;
  }

  @media (--middle-vp) {
    padding-bottom: 28px;
    padding-top: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      --content-indent: calc(20px + (10vw - 32px) / 4.48);
      left: calc(-1 * var(--content-indent));
      display: block;
      width: 50vw;
      height: 1px;
      background-color: var(--line-after-description-color);
      box-shadow: 50vw 0 0 0 var(--line-after-description-color);
    }
  }

  @media (--wide-vp) {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

.description__title {
  font-family: var(--accent-font);
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-align: start;
  margin: 0;
}

@media (--not-narrow-vp) {
  .description__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.description__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;

  @media (--not-narrow-vp) {
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    min-height: 280px;
  }

  @media (--middle-vp) {
    max-width: 247px;
    gap: 55px;
  }

  @media (--wide-vp) {
    max-width: 245px;
    padding-top: 22px;
    gap: 32px;
  }
}

.description__item::before {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  background-color: var(--description-icon-bg-color);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 50%;

  @media (--not-narrow-vp) {
    position: relative;
    left: -1px;
    width: 80px;
    height: 80px;
  }

  @media (--middle-vp) {
    top: 23px;
  }
}

.description__item--feed::before {
  background-image: url("../../icons/sprite.svg#nutrients");
}

.description__item--powder::before {
  background-image: url("../../icons/sprite.svg#powder");
}

.description__item--eating::before {
  background-image: url("../../icons/sprite.svg#eating");
}

.description__item--timer::before {
  background-image: url("../../icons/sprite.svg#timer");
}

.description__text {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  color: var(--base-font-color);

  @media (--not-narrow-vp) {
    font-size: 16px;
    line-height: 24px;
  }
}

.description__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0 0 0 1px;
  list-style: none;
  counter-reset: section;

  @media (--middle-vp) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 137px;
    row-gap: 39px;
    padding-top: 49px;
  }

  @media (--wide-vp) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (--not-narrow-vp) {
  .description__item::after {
    counter-increment: section;
    content: counter(section);
    position: absolute;
    z-index: -1;
    left: 114px;
    top: -17px;
    font-family: var(--accent-font);
    font-size: 280px;
    line-height: 280px;
    font-weight: 400;
    color: var(--description-numders-color);
  }
}
