.footer {
  background-color: var(--footer-background-color);
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 236px;

  @media (--not-narrow-vp) {
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 147px;
  }

  @media (--wide-vp) {
    background-color: var(--footer-background-color);
  }
}

.footer__logo-container {
  align-self: center;
  padding: 39px 0 32px;

  @media (--not-narrow-vp) {
    flex-grow: 0;
  }
}

.footer__logo-link {
  display: block;
}

.footer__logo-link:hover {
  opacity: 0.8;
}

.footer__logo-link:active {
  opacity: 0.6;
}
