.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 236px;
  padding-top: 39px;
  background-color: #f2f2f2;

  @media (--not-narrow-vp) {
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 147px;
    padding: 0;
  }
}

.footer__logo-container {
  align-self: center;
  flex-grow: 1;

  @media (--not-narrow-vp) {
    flex-grow: 0;
  }
}
