.form-cat-program {
  display: flex;
  flex-direction: column;
  padding: 0;

  @media (min-width: 321px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
    row-gap: 61px;
  }
  --line-color: #68b738;
  --mark-border-color: #cdcdcd;
}

.form-cat-program__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--button-text-color);
  border: none;
  padding: 10px;
  background-color: var(--line-color);
  max-width: 558px;
}


.form-cat-program__comment {
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  padding: 10px 19px;
}

.form-cat-program__comment::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--base-font-color);
  text-transform: uppercase;
}
