.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  align-items: center;
  z-index: 10;

  @media (--narrow-vp) {
    background-color: var(--header-background-color-mobile);
  }

  @media (--not-narrow-vp) {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  @media (--middle-vp) {
    padding: 27px 0 0;
  }

  @media (--wide-vp) {
    padding: 53px 0 0;
  }
}

.header__logo-container {
  z-index: 1;
  flex: 1 0 auto;

  @media (--narrow-vp) {
    width: 100%;
    padding: 10px 0 18px;
  }
}

.header__logo-link {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  align-items: center;
  flex-wrap: nowrap;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (--middle-vp) {
    display: flex;
    justify-content: space-between;
    max-width: 174px;
  }

  @media (--wide-vp) {
    display: flex;
    justify-content: space-between;
    max-width: 202px;
  }
}

.header__logo {
  src: url("../../img/logo.svg#cat-logo-tablet");
}

.header__logo-words {
  @media (--not-narrow-vp) {
    display: none;
  }
}

.header__logo-icon {
  @media (--narrow-vp) {
    display: block;
    width: 34px;
    height: 38px;
  }

  @media (--middle-vp) {
    display: block;
    width: 174px;
    height: 50px;
  }

  @media (--wide-vp) {
    display: block;
    width: 202px;
    height: 59px;
  }
}


.header__logo-word {
  display: block;
  justify-self: flex-end;
  width: 101px;
  height: 18px;
  transform: translateX(50%);

  @media (--not-narrow-vp) {
    display: none;
  }
}

@media (--narrow-vp) {
  .header.header--nojs {
    display: flex;
    flex-direction: column;
  }

  .header__logo-link.header__logo-link--nojs {
    grid-template-columns: 1fr auto 1fr;
  }

  .header__logo-word.header__logo-word--nojs {
    transform: none;
  }
}
