.htmlacademy-logo {
  --footer-logo-color: #666666;
  flex-grow: 1;
  border-top: 1px solid #d9d9d9;

  @media (--not-narrow-vp) {
    border: transparent;
    max-width: 163px;
  }
}

.htmlacademy-logo__link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 22px;
  align-items: center;
  text-decoration: none;
  color: var(--base-font-color);
  width: 100%;
}

.htmlacademy-logo__link::after {
  content: "";
  width: 27px;
  height: 34px;
  background-color: var(--footer-logo-color);
  mask-image: url("../../icons/sprite.svg#htmlacademy");
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
}

.htmlacademy-logo__icon {
  content: "";
  display: inline-block;
  width: 27px;
  height: 34px;
}

.htmlacademy-logo:hover {
  --footer-logo-color: #68b738;
}

.htmlacademy-logo:active {
  opacity: 0.3;
}
