.navigation {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;

  @media (--not-narrow-vp) {
    display: block;
    justify-content: space-between;
  }

  @media (--middle-vp) {
    flex-wrap: wrap;
  }
}

.navigation--nojs {
  .navigation__menu-button {
    display: none;
  }
}

@media (--narrow-vp) {
  .navigation--closed {
    .navigation__menu-button::after {
      content: url("data:image/svg+xml,%3Csvg width='24' height='18' viewBox='0 0 24 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23000' stroke-width='1.5' d='M0 1.25h24M0 9.25h24M0 17.25h24'/%3E%3C/svg%3E");
      display: block;
      width: auto;
      height: auto;
      border: none;
      outline: none;
    }

    .navigation__list {
      display: none;
    }
  }


  .navigation--opened {
    .navigation__menu-button::after {
      content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath transform='scale(.97098 1.0282) rotate(-45 24.51 7.237)' stroke='%23000' stroke-width='1.5' d='M0-.75h24.758'/%3E%3Cpath transform='matrix(.68659 .72705 -.68659 .72705 1 2)' stroke='%23000' stroke-width='1.5' d='M0-.75h24.758'/%3E%3C/svg%3E");
      display: block;
      width: auto;
      height: auto;
      border: none;
      outline: none;
    }

    .navigation__list {
      display: block;
    }
  }
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @media (--narrow-vp) {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateX(-50%);
    color: var(--navigation-text-color);
    width: 100vw;
    flex-direction: column;
    z-index: 2;
  }

  @media (--not-narrow-vp) {
    transform: none;
  }

  @media (--middle-vp) {
    min-width: 440px;
  }

  @media (--wide-vp) {
    min-width: 478px;
  }
}

.navigation__menu-button {
  position: absolute;
  box-sizing: border-box;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 18px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  outline: none;
  border: none;

  @media (--middle-vp) {
    display: none;
  }

  @media (--wide-vp) {
    display: none;
  }
}

.navigation__item {
  box-sizing: border-box;
  background-color: #ffffff;
  border-top: 1px solid;
  border-color: #e6e6e6;
  color: inherit;

  @media (--wide-vp) {
    border-color: transparent;
    background-color: transparent;
  }

  @media (--middle-vp) {
    border-color: transparent;
    background-color: transparent;
  }
}

@media (--narrow-vp) {
  .navigation__item:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (--not-narrow-vp) {
  .navigation__item [aria-current="page"] {
    border-bottom: 2px solid var(--menu-line-color);
  }
}

.navigation__link {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding-top: 22px;
  padding-bottom: 24px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (--middle-vp) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding: 8px 0 8px;
  }

  @media (--wide-vp) {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    padding: 8px 0 8px;
  }
}
