.nutrition-programm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;

  @media (--middle-vp) {
    padding-bottom: 49px;
  }

  @media (--wide-vp) {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-bottom: 71px;
  }
}

.nutrition-programm__card {
  display: flex;
  flex-wrap: wrap;
  column-gap: 19px;
  row-gap: 22px;
  align-items: center;
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 22px;

  @media (--middle-vp) {
    display: grid;
    grid-template-columns: 1fr 270px;
  }

  @media (--wide-vp) {
    max-width: 570px;
    margin: 0;
  }
}

.nutrition-programm__card--slim::before {
  content: url("../../icons/sprite.svg#cat-slim");
  display: block;
  width: 50px;
  height: 53px;

  @media (--middle-vp) {
    grid-area: 1/2/3/3;
    justify-self: center;
    width: 200px;
    height: 211px;
  }

  @media (--wide-vp) {
    width: 100px;
    height: 106px;
  }
}

.nutrition-programm__card--fat::before {
  content: url("../../icons/sprite.svg#cat-muscle");
  display: block;
  width: 67px;
  height: 50px;

  @media (--middle-vp) {
    grid-area: 1/2/3/3;
    justify-self: center;
    width: 268px;
    height: 200px;
  }

  @media (--wide-vp) {
    width: 134px;
    height: 100px;
  }
}

.nutrition-programm__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @media (--middle-vp) {
    font-size: 36px;
    line-height: 36px;
    text-align: start;
  }

  @media (--wide-vp) {
    font-size: 36px;
    line-height: 36px;
    text-align: start;
  }
}

.nutrition-programm__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--base-font-color);
  margin: 0;

  @media (--middle-vp) {
    font-size: 16px;
    line-height: 24px;
    text-align: start;
  }

  @media (--wide-vp) {
    font-size: 16px;
    line-height: 24px;
    text-align: start;
  }
}

.nutrition-programm__link {
  display: flex;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  border-top: 1px solid #d9d9d9;
  padding-top: 15px;

  @media (--not-narrow-vp) {
    border-top: none;
    font-size: 20px;
    line-height: 30px;
    text-align: start;
  }
}

.nutrition-programm__link::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='12' viewBox='0 0 24 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='6' x2='18' y2='6' stroke='black' stroke-width='2'/%3E%3Cpath d='M24 6L17.25 11.1962L17.25 0.803848L24 6Z' fill='black'/%3E%3C/svg%3E%0A");
  margin-left: 15px;

  @media (--middle-vp) {
    margin-left: 25px;
  }

  @media (--wide-vp) {
    margin-left: 28px;
  }
}

.nutrition-programm__link:hover::after {
  content: "";
  display: inline-block;
  background-image: url("../../icons/sprite.svg#arrow-active");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 33px;
  height: 10px;
  margin-left: 15px;

  @media (--middle-vp) {
    margin-left: 25px;
  }

  @media (--wide-vp) {
    margin-left: 28px;
  }
}

.nutrition-programm__link:active::after {
  content: "";
  display: inline-block;
  background-image: url("../../icons/sprite.svg#arrow-active");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 33px;
  height: 10px;
  margin-left: 15px;
  opacity: 0.3;

  @media (--middle-vp) {
    margin-left: 25px;
  }

  @media (--wide-vp) {
    margin-left: 28px;
  }
}

.nutrition-programm__link:active {
  opacity: 0.3;
}
