.page-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 22px;
  padding-top: 39px;
  margin: 0 auto;
  background-color: #f2f2f2;

  @media (min-width: 321px) and (max-width: 769px) {
    flex-wrap: nowrap;
    padding: 58px 0 55px;
  }

  @media (min-width: 769px) {
    flex-wrap: nowrap;
    padding: 57px 0 58px;
  }
}

.page-footer__logo-container {
  margin: 0 auto;
}
