.page {
  font-family: var(--main-font);
}

.page__body {
  --scrollbar: calc(100vw - 100%);
  margin: 0;
}

.page__centerer {
  position: relative;
  --content-indent: calc(20px + (10vw - 32px) / 4.48);

  margin-inline: var(--content-indent) calc(var(--content-indent) - var(--scrollbar));

  @media (--wide-vp) {
    box-sizing: border-box;
    --content-indent: auto;
    padding: 0 110px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.page__form-title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  text-align: start;
  margin: 0 0 37px;

  @media (--middle-vp) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 54px;
  }

  @media (--wide-vp) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 56px;
  }
}

.page__form-title-container {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 27px  0 0;

  @media (--narrow-vp) {
    border-top: 1px solid #d9d9d9;
  }
}
