.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 21px;
  padding: 19px 20px 24px;
  border-top: 1px solid var(--product-card-border-color);

  @media (--not-narrow-vp) {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 33px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 105px;
    padding-bottom: 39px;
    width: 100%;
    min-height: 430px;
    row-gap: 33px;
    border: none;
    background-color: var(--product-card-bg-color);
  }

  @media (--middle-vp) {
    max-width: 324px;
  }

  @media (--wide-vp) {
    max-width: 245px;
  }
}

.product-card__specification-link {
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid transparent;
  outline: none;
}

.product-card__specification-link:focus-visible {
  border-bottom: 1px solid var(--focus-border-color);
}

.product-card__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-card__item-value,
.product-card__item-name {
  --product-card-border-color: #cdcdcd;

  @media (--not-narrow-vp) {
    font-size: 16px;
    padding: 8px 0;
    box-shadow: inset 0 -1px 0 0 var(--product-card-border-color);
  }
}

.product-card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 16px;
  color: var(--base-font-color);

  @media (--middle-vp) {
    gap: 9px;
  }

  @media (--wide-vp) {
    gap: 11px;
    padding-left: 4px;
  }
}

.product-card__button {
  grid-column: 1/-1;
  box-sizing: border-box;
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--button-text-color);
  text-decoration: none;
  text-align: center;
  align-self: end;
  min-height: 40px;
  width: 100%;
  background-color: var(--button-color);
  padding: 10px;
  outline: none;
  margin-right: -1px;
}

.product-card__button:hover {
  --button-color: #5eaa2f;
}

.product-card__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.product-card__button:focus-visible {
  box-shadow: inset 0 0 0 1px var(--focus-border-color);
}

.product-card__item-value {
  text-align: right;
}

.product-card__title {
  display: block;
  grid-column: 1/-1;
  font-family: var(--accent-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: #222222;

  @media (--narrow-vp) {
    padding-right: 60px;
  }

  @media (--middle-vp) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222222;
    padding: 0 40px;
  }

  @media (--wide-vp) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222222;
    padding: 0 10px;
  }
}

.product-card__image {
  display: block;
  position: relative;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 68px;
  height: 100%;
  object-fit: contain;
  justify-self: center;

  @media (--middle-vp) {
    position: absolute;
    top: -59px;
    width: 161px;
    height: 200px;
  }

  @media (--wide-vp) {
    position: absolute;
    top: -67px;
    width: 161px;
    height: 200px;
  }
}

.product-card:nth-child(even) .product-card__image {
  @media (--narrow-vp) {
    top: 10px;
    width: 84px;
  }

  @media (--middle-vp) {
    top: -74px;
    width: 169px;
  }

  @media (--wide-vp) {
    top: -80px;
    width: 180px;
    height: 196px;
    left: 125px;
  }
}

@media (--narrow-vp) {
  .product-card:first-child .product-card__image {
    top: 6px;
  }

  .product-card:nth-last-child(2) .product-card__image {
    top: 15px;
    width: 71px;
  }
}
