.products {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 41px 0 0;
  margin: 0;
  list-style: none;

  @media (min-width: 321px) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 141px;
    padding: 163px 30px 0;
  }

  @media (min-width: 769px) {
    padding: 165px 110px 0;
  }
}
