.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  padding: 0;
  margin: 0 auto;
  list-style: none;

  @media (--not-narrow-vp) {
    column-gap: 40px;
  }

  @media (--middle-vp) {
    padding: 0 30px 68px;
    column-gap: 60px;
    row-gap: 141px;
  }

  @media (--wide-vp) {
    padding: 0 110px 78px;
    column-gap: 80px;
    row-gap: 144px;
  }
}
