.request-to-user {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin: 0;

  @media (--not-narrow-vp) {
    font-size: 20px;
    line-height: 30px;
  }
}
