.show-more {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-end;
  gap: 23px;
  font-family: var(--accent-font);
  font-weight: 400;
  text-align: center;
  padding: 72px 20px 25px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (--not-narrow-vp) {
    border: 1px solid #f2f2f2;
    padding: 161px 30px 38px;
  }

  @media (--middle-vp) {
    width: 100%;
    max-width: 324px;
    min-height: 430px;
  }

  @media (--wide-vp) {
    max-width: 245px;
    justify-content: space-between;
  }
}

.show-more__text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.show-more__important-text {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  margin: 0;

  @media (--not-narrow-vp) {
    font-size: 20px;
    line-height: 22px;
  }

  @media (--middle-vp) {
    padding: 0 70px;
  }

  @media (--wide-vp) {
    padding: 0 25px;
  }
}

.show-more__regular-text {
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 16px;
  color: var(--base-font-color);
  margin: 0;

  @media (--not-narrow-vp) {
    flex-grow: 1;
    font-size: 16px;
    line-height: 18px;
  }
}

.show-more__button {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: var(--base-font-color);
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--show-more-button-color);
  padding: 10px 10px;
  margin: 0;
  outline: none;
}

.show-more__button:hover {
  --show-more-button-color: #ebebeb;
}

.show-more__button:active {
  color: rgba(68, 68, 68, 0.3);
}

.show-more__button:focus-visible {
  box-shadow: inset 0 0 0 1px var(--focus-border-color);
}

.show-more::before {
  content: "";
  display: block;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23D3D3D3' stroke-width='2' d='M15 0v30M30 15H0'/%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;

  @media (--not-narrow-vp) {
    top: 52px;
    width: 60px;
    height: 60px;
  }
}
