.social {
  --social-color: #666666;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 73px;
  flex-grow: 1;
  flex-wrap: wrap;
  border-top: 1px solid #d9d9d9;

  @media (--middle-vp) {
    width: 129px;
    flex-grow: 0;
    border: transparent;
    order: 0;
  }

  @media (--wide-vp) {
    width: 129px;
    flex-grow: 0;
    border: transparent;
    order: 0;
  }
}

.social__link {
  display: block;
  text-decoration: none;
}

.social__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.social__link--vk {
  width: 23px;
  height: 16px;

  @media (--not-narrow-vp) {
    width: 30px;
    height: 32px;
  }
}

.social__link--instagram {
  width: 16px;
  height: 16px;

  @media (--not-narrow-vp) {
    width: 23px;
    height: 23px;
  }
}

.social__link--facebook {
  width: 16px;
  height: 18px;

  @media (--not-narrow-vp) {
    width: 28px;
    height: 33px;
  }
}

.social__link:hover > .social__icon {
  --social-color: #68b738;
}

.social__link:active {
  opacity: 0.3;
}

.social__icon {
  fill: #666666;
  width: 100%;
  height: 100%;
}
