:root {
  --header-background-color-mobile: #ffffff;
  --header-background-color: transparent;
  --base-font-color: #444444;
  --description-icon-bg-color: #68b738;
  --button-color: #68b738;
  --line-color: #68b738;
  --button-text-color: #ffffff;
  --navigation-text-color: #000000;
  --input-border-color: #e7e7e7;
  --show-more-base-color: #f2f2f2;
  --line-after-description-color: #e6e6e6;
  --fact-border-color: #cdcdcd;
  --example-background-color: #eaeaea;
  --description-numders-color: #f2f2f2;
  --explanation-middle-text-bgcolor: #ffffff;
  --explanation-text-bgcolor: #eaeaea;
  --footer-background-color: #f2f2f2;
  --alternative-menu-text-color: #ffffff;
  --menu-line-color: #68b738;
  --catalog-title-border-color: #d9d9d9;
  --product-card-border-color: #ebebeb;
  --product-card-bg-color: #f2f2f2;
  --product-card__item-boreder-color: #cdcdcd;
  --additionals-border-color: #cdcdcd;
  --show-more-button-color: #f2f2f2;
  --index-background-base-color: #68b738;
  --focus-border-color: #444444;
}
