<section class="contacts">
  <h2 class="visually-hidden">Наш адрес</h2>
  <div class="contacts__text page__centerer">
    <p class="contacts__lead-text">приглашаем<br>к&nbsp;сотрудничеству<br>дилеров!</p>
    <p class="contacts__adress">ул. Большая<br>Конюшенная, д. 19/8 <span class="contacts__adress-city">Санкт-Петербург</span></p>
  </div>
  <noscript class="contacts__map">
    {{macros.picture(
      "contacts__map-image",
      "./img/location/",
      "location",
      "png",
      "Местонахождение CatEnergy",
      "320",
      "362"
    )}}
  </noscript>
  <iframe class="contacts__map  contacts__map--noscript" src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac17026e0183ea3a65e599f68834bca86394c52e2ca6f560e5f0c0c1af66fc19f&amp;source=constructor" ></iframe>
</section>
