    <section class="contacts page__centerer">
      <h2 class="visually-hidden">Наш адрес</h2>
      <div class="contacts__text page__centerer">
        <p class="contacts__lead-text">приглашаем<br>к&nbsp;сотрудничеству<br>дилеров!</p>
        <p class="contacts__adress">ул. Большая<br>Конюшенная, д. 19/8 <span class="contacts__adress-city">Санкт-Петербург</span></p>
      </div>
    </section>
