<footer class="page-footer">
  <div class="logo-container">
    <a href="index.html" class="logo-link">
      <img src="img/logo-words.svg" alt="" class="logo-words">
    </a>
  </div>
  <div class="social">
    <a class="social__link" href="https://vk.com/htmlacademy" target="_blank">Мы в vk</a>
    <a class="social__link" href="https://instagram.com/htmlacademy/" target="_blank">Мы в instagram</a>
    <a class="social__link" href="https://facebook.com/htmlacademy" target="_blank">Мы в facebook</a>
  </div>
  <div class="htmlacademy-logo"><a href="https://htmlacademy.ru/" target="_blank" class="htmlacademy-logo__link">HtmlAcademy</a></div>
</footer>
