<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ pages[pageId].name }} | Кэт энерджи | HTML Academy</title>
  <link rel="stylesheet" href="./css/style.min.css">
  <link rel="icon" href="./favicon.ico">
  <link rel="icon" href="./favicons/favicon-svg.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="./favicons/favicon-apple.png">
  <link rel="manifest" href="./manifest.webmanifest">
  <link rel="preload" href="./fonts/oswaldmedium.woff2" type="font/woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="./fonts/oswaldregular.woff2" type="font/woff2" as="font" crossorigin="anonymous">
  <script src="./js/menu-button.min.js" defer></script>
  {% if permalink == "index.html" %}
    <script src="./js/cat-range.min.js" defer></script>
  {% endif %}
</head>
