<header class="header">
  <nav class="navigation">
    <div class="logo-container">
      <a href="index.html" class="navigation__logo-link">
        <img src="img/logo-cat.svg" alt="" class="logo-img">
        <img src="img/logo-words.svg" alt="" class="logo-words">
      </a>
    </div>
    <button class="navigation__menu-button" type="button">
      <span class="visually-hidden">Кнопка вызова меню</span>
    </button>
    <ul class="navigation-list">
      {% for page in pages %}
        <li class="navigation__item">
          <a
            class="navigation__link"
            href="{{ page.path }}"
            {% if permalink === page.path %}
              aria-current="page"
            {% endif %}
          >{{ page.name }}</a>
        </li>
      {% else %}
        <li>Из навигации пропали все пункты 😕</li>
      {% endfor %}
    </ul>
  </nav>
</header>
