{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}

<!DOCTYPE html>
<html class="page" lang="ru">
{% include "./templates/head.twig" %}

<body class="page__body">

  {% include "./templates/header.twig" %}

  <main class="main">
    <div class="catalog-title page__centerer">
      <h1 class="catalog-title__text">Каталог продукции</h1>
    </div>
    <ul class="products-list page__centerer">
      <li class="product-card">
        <img class="product-card__image" width="140" height="112" src="img/catalog/chiken500.png" alt="Курица">
        <div class="product-card__text">
          <span class="product-card__title">Cat Energy PRO 500&nbsp;г</span>
          <div class="product-card__items">
            <span class="product-card__item-name">Масса</span>
            <span class="product-card__item-value">500 г</span>
            <span class="product-card__item-name">Вкус</span>
            <span class="product-card__item-value">Курица</span>
            <span class="product-card__item-name">Цена</span>
            <span class="product-card__item-value">700 Р.</span>
          </div>
        </div>
        <a href="#" class="product-card__button">заказать</a>
      </li>
      <li class="product-card">
        <img class="product-card__image" width="140" height="112" src="./img/catalog/chiken1000.png" alt="Курица">
        <div class="product-card__text">
          <span class="product-card__title">Cat Energy PRO 1000&nbsp;г</span>
          <div class="product-card__items">
            <span class="product-card__item-name">Масса</span>
            <span class="product-card__item-value">1000 г</span>
            <span class="product-card__item-name">Вкус</span>
            <span class="product-card__item-value">Курица</span>
            <span class="product-card__item-name">Цена</span>
            <span class="product-card__item-value">1000 Р.</span>
          </div>
        </div>
        <a href="#" class="product-card__button">заказать</a>
      </li>
      <li class="product-card">
        <img class="product-card__image" width="140" height="112" src="img/catalog/fish500.png" alt="Рыба">
        <div class="product-card__text">
          <span class="product-card__title">Cat Energy PRO 500&nbsp;г</span>
          <div class="product-card__items">
            <span class="product-card__item-name">Масса</span>
            <span class="product-card__item-value">500 г</span>
            <span class="product-card__item-name">Вкус</span>
            <span class="product-card__item-value">Рыба</span>
            <span class="product-card__item-name">Цена</span>
            <span class="product-card__item-value">700 Р.</span>
          </div>
        </div>
        <a href="#" class="product-card__button">заказать</a>
      </li>
      <li class="product-card">
        <img class="product-card__image" width="140" height="112" src="img/catalog/fish1000.png" alt="Рыба">
        <div class="product-card__text">
          <span class="product-card__title">Cat Energy PRO 1000&nbsp;г</span>
          <div class="product-card__items">
            <span class="product-card__item-name">Масса</span>
            <span class="product-card__item-value">1000 г</span>
            <span class="product-card__item-name">Вкус</span>
            <span class="product-card__item-value">Рыба</span>
            <span class="product-card__item-name">Цена</span>
            <span class="product-card__item-value">1000 Р.</span>
          </div>
        </div>
        <a href="#" class="product-card__button">заказать</a>
      </li>
      <li class="product-card">
        <img class="product-card__image" width="140" height="112" src="img/catalog/buckwheat500.png" alt="Гречка">
        <div class="product-card__text">
          <span class="product-card__title">Cat Energy slim 500&nbsp;г</span>
          <div class="product-card__items">
            <span class="product-card__item-name">Масса</span>
            <span class="product-card__item-value">500 г</span>
            <span class="product-card__item-name">Вкус</span>
            <span class="product-card__item-value">Гречка</span>
            <span class="product-card__item-name">Цена</span>
            <span class="product-card__item-value">400 Р.</span>
          </div>
        </div>
        <a href="#" class="product-card__button">заказать</a>
      </li>
      <li class="product-card">
        <img class="product-card__image" width="140" height="112" src="img/catalog/buckwheat1000.png" alt="Гречка">
        <div class="product-card__text">
          <span class="product-card__title">Cat Energy slim 1000&nbsp;г</span>
          <div class="product-card__items">
            <span class="product-card__item-name">Масса</span>
            <span class="product-card__item-value">1000 г</span>
            <span class="product-card__item-name">Вкус</span>
            <span class="product-card__item-value">Гречка</span>
            <span class="product-card__item-name">Цена</span>
            <span class="product-card__item-value">700 Р.</span>
          </div>
        </div>
        <a href="#" class="product-card__button">заказать</a>
      </li>
      <li class="product-card">
        <img class="product-card__image" width="140" height="112" src="img/catalog/rice500.png" alt="Рис">
        <div class="product-card__text">
          <span class="product-card__title">Cat Energy slim 500&nbsp;г</span>
          <div class="product-card__items">
            <span class="product-card__item-name">Масса</span>
            <span class="product-card__item-value">500 г</span>
            <span class="product-card__item-name">Вкус</span>
            <span class="product-card__item-value">Рис</span>
            <span class="product-card__item-name">Цена</span>
            <span class="product-card__item-value">500 Р.</span>
          </div>
        </div>
        <a href="#" class="product-card__button">заказать</a>
      </li>
      <li class="show-more">
        <div class="show-more__text-container">
          <p class="show-more__important-text">Показать еще 100500 товаров</p>
          <p class="show-more__regular-text">На&nbsp;самом деле вкусов гораздо больше!</p>
        </div>
        <a href="#" class="show-more__button">показать все</a>
      </li>
    </ul>

    <section class="additional page__centerer">
      <h2 class="visually-hidden">Дополнительные товары</h2>
      <p class="additional__title"><span class="additional__title-text">Дополнительные товары</span></p>
      <div class="additional__structure">
        <ul class="additional__products-list">
          <li class="additional__item">
            <span class="additional__item-name">сахарозаменитель</span>
            <span class="additional__item-unit">1 упаковка (100 г)</span>
            <span class="additional__item-price">200 Р.</span>
            <a href="#" class="additional__item-order-button">заказать</a>
          </li>
          <li class="additional__item">
            <span class="additional__item-name">питьевая вода</span>
            <span class="additional__item-unit">5 литров</span>
            <span class="additional__item-price">50 Р.</span>
            <a href="#" class="additional__item-order-button">заказать</a>
          </li>
          <li class="additional__item">
            <span class="additional__item-name">молоко</span>
            <span class="additional__item-unit">1 литр</span>
            <span class="additional__item-price">100 Р.</span>
            <a href="#" class="additional__item-order-button">заказать</a>
          </li>
          <li class="additional__item">
            <span class="additional__item-name">витамины</span>
            <span class="additional__item-unit">1 упаковка (30 г)</span>
            <span class="additional__item-price">300 Р.</span>
            <a href="#" class="additional__item-order-button">заказать</a>
          </li>
        </ul>
        <div class="ad">
          <p class="ad__text">Закажите все<br>и&nbsp;получите чехол для<br>кота в&nbsp;подарок!</p>
        </div>
      </div>
    </section>

    {% include "./templates/contacts.twig" %}
  </main>
  {% include "./templates/footer.twig" %}
</body>

</html>
